In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

### Store  ABS ERP CSV into DataFrame
Load CSV

In [2]:
csv_file = os.path.join('..', 'Resources', 'ABS_ERP_COMP.csv')
erp_data_df = pd.read_csv(csv_file)
erp_data_df.head()

,DATAFLOW,MEASURE: Measure,REGION: Region,FREQ: Frequency,TIME_PERIOD: Time Period,OBS_VALUE,UNIT_MEASURE: Unit of Measure,UNIT_MULT: Unit of Multiplier,OBS_STATUS: Observation Status,OBS_COMMENT: Observation Comment
0,ABS:ERP_COMP_Q(1.0.0),3: Natural Increase,3: Queensland,Q: Quarterly,1981-Q2,6191.0,NUM: Number,0: Units,NaN,NaN
1,ABS:ERP_COMP_Q(1.0.0),3: Natural Increase,3: Queensland,Q: Quarterly,1981-Q3,4920.0,NUM: Number,0: Units,NaN,NaN
2,ABS:ERP_COMP_Q(1.0.0),3: Natural Increase,3: Queensland,Q: Quarterly,1981-Q4,4756.0,NUM: Number,0: Units,NaN,NaN
3,ABS:ERP_COMP_Q(1.0.0),3: Natural Increase,3: Queensland,Q: Quarterly,1982-Q1,6331.0,NUM: Number,0: Units,NaN,NaN
4,ABS:ERP_COMP_Q(1.0.0),3: Natural Increase,3: Queensland,Q: Quarterly,1982-Q2,6081.0,NUM: Number,0: Units,NaN,NaN

Check Data Types

In [3]:
new_test_df = erp_data_df[['REGION: Region']].copy()
new_test_df.head()

  REGION: Region
0  3: Queensland
1  3: Queensland
2  3: Queensland
3  3: Queensland
4  3: Queensland

In [4]:
new_test_df = new_test_df.sort_values('REGION: Region').drop_duplicates('REGION: Region', keep='last')

In [5]:
#new_test_df=new_test_df.set_index(name="index",start=100)
new_test_df.reset_index(level=0, inplace=True)
new_test_df

   index                   REGION: Region
0   4814               1: New South Wales
1   6520                      2: Victoria
2   5843                    3: Queensland
3   1311               4: South Australia
4   6013             5: Western Australia
5   2405                      6: Tasmania
6    378            7: Northern Territory
7   6771  8: Australian Capital Territory
8   2048                   AUS: Australia

In [6]:
new_test_df.rename(columns = {'index':'state_id', 'REGION: Region': 'state_name'}, inplace=True)
new_test_df

   state_id                       state_name
0      4814               1: New South Wales
1      6520                      2: Victoria
2      5843                    3: Queensland
3      1311               4: South Australia
4      6013             5: Western Australia
5      2405                      6: Tasmania
6       378            7: Northern Territory
7      6771  8: Australian Capital Territory
8      2048                   AUS: Australia

In [ ]:
erp_data_df.dtypes

### Create new data with select columns

In [ ]:
# Delete column we don't want
del erp_data_df['DATAFLOW']
del erp_data_df['OBS_STATUS: Observation Status']
del erp_data_df['OBS_COMMENT: Observation Comment']
del erp_data_df['UNIT_MEASURE: Unit of Measure']
del erp_data_df['UNIT_MULT: Unit of Multiplier']
del erp_data_df['FREQ: Frequency']
erp_data_df.head()

In [ ]:
# Rename columns 
erp_data_df = erp_data_df.rename(columns={"MEASURE: Measure": "measure_id","REGION: Region": "state_id", "TIME_PERIOD: Time Period": "quarter_id",
                                              "OBS_VALUE": "net_change"})
erp_data_df

In [ ]:
# Identify incomplete rows
erp_data_df.count()

In [ ]:
# Drop all rows with missing information
#erp_data_df = erp_data_df.dropna(how='any')

In [ ]:
# Verify dropped rows
erp_data_df.count()

In [ ]:
new_erp_data_df = erp_data_df[['measure_id', 'state_id','quarter_id','net_change']].copy()
new_erp_data_df.head()

In [ ]:
new_erp_data_df.to_csv("Resources/johan_erp_clean.csv", index=False)

**bold text**### Store  ABS AWE CSV into DataFrame

In [ ]:
csv_file = "Resources/ABS_AWE.csv"
awe_data_df = pd.read_csv(csv_file)
awe_data_df.head()

Check Data Types

In [ ]:
awe_data_df.dtypes

In [ ]:
# Delete column we don't want
del awe_data_df['DATAFLOW']
del awe_data_df['OBS_STATUS: Observation Status']
del awe_data_df['OBS_COMMENT: Observation Comment']
del awe_data_df['UNIT_MEASURE: Unit of Measure']
del awe_data_df['TSEST: Adjustment Type']
del awe_data_df['SEX: Sex']
del awe_data_df['FREQ: Frequency']
awe_data_df.head()

In [ ]:
# Identify incomplete rows
awe_data_df.count()

In [ ]:
# Rename columns 
awe_data_df = awe_data_df.rename(columns={"MEASURE: Measure": "measure_id","REGION: Region": "state_id", "TIME_PERIOD: Time Period": "quarter_id",
                                              "OBS_VALUE": "net_change","ESTIMATE_TYPE: Estimate Type":"type_id","SECTOR: Sector":"sector_id","INDUSTRY: Industry":"industry_id"})
awe_data_df

In [ ]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
awe_data_df.describe()

In [ ]:
awe_data_df.to_csv("Resources/johan_awe_employment_clean.csv", index=False)

### Clean DataFrame

In [ ]:
# Identify incomplete rows
awe_data_df.count()

In [ ]:
new_awe_data_df = awe_data_df[['measure_id','state_id','quarter_id','net_change','type_id','sector_id','industry_id']].copy()
new_awe_data_df.head()

In [ ]:
average_aernings_df = awe_data_df[['state_id','quarter_id','net_change']].copy()
average_aernings_df.head()

In [ ]:
# Rename columns 
average_aernings_df = average_aernings_df.rename(columns={"net_change": "avg_earnings"})
average_aernings_df

In [ ]:
new_awe_data_df.to_csv("Resources/johan_awe_employment_clean.csv", index=False)
average_aernings_df.to_csv("Resources/johan_average_earnings_clean.csv", index=False)

In [ ]:
# Merge two dataframes using an outer join
#merge_df = pd.merge(new_awe_data_df, new_erp_data_df, on="state_id", how="outer")
#merge_df

### Connect to local database

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = 'Fransien1'
host = 'localhost'
port = 5433
database_name = 'Project2'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

### Check for tables

In [ ]:
insp.get_table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
average_aernings_df.to_sql(name='average_earnings', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from average_earnings', con=engine).head()

### Confirm data has been added by querying

In [ ]:
pd.read_sql_query('select * from internal_arrival', con=engine).head()